<script type="text/javascript">
$(document).ready(function() {
  $(".select2-dropdown").select2();
  $(".datepicker-field").datepicker({
    dateFormat: 'mm-dd-yy',
    numberOfMonths: 3,
    showButtonPanel: true,
    onSelect: function(dateText) {
        $(this).val(dateText);
        console.log("        onSelect 2: " + $(this).val());
        if ($(this).val() == "") {
          $(this).addClass('required-field-is-empty');
        } else {
          $(this).removeClass('required-field-is-empty');
        }
        validate_tactic_form();
    }
    // afterAdjustDate: function(selectedDate) {
    //   console.log("afterAdjustDate: " + selectedDate);
    //   on_blur_required_text_field(this);
    // },
    // onClose: function(selectedDate) {
    //   console.log("onClose 1: " + selectedDate);
    //   $(this).val(selectedDate);
    //   console.log("onClose 2: " + $(this).val());
    //   on_blur_required_text_field(this);
    //   $("#ends_on").datepicker( "option", "minDate", selectedDate );
    // }

    });
  $(".tcm-required-field").each(function(index) {
    required_field_for_tactic_validation(this);
  });

  $('#edit-tactic').submit(function() {
    if ($('#form_is_valid').val() === 'yes') {
      $("#spinner").show();
      $.ajax({
        url: $(this).attr('action'),
        data: $(this).serialize(),
        type: "POST",
        dataType: "JSON"
      }).success(function(json) {
        $("#spinner").hide();
        $("#flash").text("This event has been deleted.");
        $("#flash").show();
        $("#flash").effect("fade", {}, 3500);
      });
    } else {
      alert('NOT valid, NOT submitting');
    }
    return false;
  });
});
</script>

<%= form_for @tactic, :url => url_for(:controller => 'tactics', :action => 'create'), :html => { :id => 'edit-tactic', :class => 'form-horizontal', :role => "form" } do |f| %>
  <% if @tactic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tactic.errors.count, "error") %> prohibited this tactic from being saved:</h2>

      <ul>
      <% @tactic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :form_is_valid, 'yes' %>

  <div class="container control-group form-group" id="tactic_title_group">
  	<%= f.label :title, :class => "col-sm-2 control-label" %>
  	<div class="col-sm-10 control-container">
  		<%= f.text_field :title, :placeholder => "Title or description of new tactic", :class => "tcm-form-control tcm-required-field", :autofocus => true, :required => true %>
  	</div>
  </div>

  <div class="container control-group form-group" id="tactic_channel_group">
    <%= f.label :channel_id, :class => "col-sm-2 control-label" %>
  	<div class="col-sm-10 control-container">
      <%= f.collection_select :channel_id, @channels, :id, :title, {:prompt => "--  Select Channel --"}, {:class => "tcm-form-control select2-dropdown tcm-required-field"} %>
    </div>
  </div>

  <div class="container control-group form-group" id="event_starts_at_group">
    <%= f.label :starts_on, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :starts_on, :placeholder => "Tactic start date", :class => "datepicker-field tcm-form-control", :required => true %>
    </div>
  </div>

  <div class="container control-group form-group" id="event_starts_at_group">
    <%= f.label :ends_on, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :ends_on, :placeholder => "Tactic end date", :class => "datepicker-field tcm-form-control", :required => true %>
    </div>
  </div>

  <div class="actions inline col-sm-12">
    <span id="spinner">
      <%= image_tag 'animated_spinner.gif', alt: "Processing...", size: "45" %>
    </span>
    <span id="flash">Your changes have been saved!</span>

    <%= f.submit :id => "submit-button", :style => "float:right;", :class => "btn btn-xs btn-primary disabled" %>
  	<% unless @tactic.new_record? %>
  		<label for="delete-button" class="delete-event-button-proxy" id="delete-event-button-proxy" style="float:right;">Delete this event</label>
  	<% end %>
    <i class="fa fa-spinner fa-spin spinner" id="spinner"></i>
  	<span id="flash">Your changes have been saved!</span>
  </div>

<% end %>
