<!DOCTYPE html>
<html>
  <head>
    <title>TheMarketingCalendar</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  </head>

  <body>

    <%= render 'layouts/calendar_menu_bar' %>

    <% if not notice.nil? %>
      <p class="notice alert-notice"><%= notice %></p>
    <% end %>
    <% if not alert.nil? %>
      <p class="alert alert-alert"><%= alert %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
